" map , (find previous match on t/T/f/F) to /
nnoremap \ ,

" map leader to commaa
let mapleader=","

" Surround plugin
set surround

" duplicate current row
nnoremap <C-d> Vyp
inoremap <C-d> <Esc>Vyp<Esc>i

" key mapping to move line/selected lines using Ctrl-up/down 
nnoremap <C-Down> :m+<CR>==
nnoremap <C-Up> :m-2<CR>==
inoremap <C-Down> <Esc>:m+<CR>==gi
inoremap <C-Up> <Esc>:m-2<CR>==gi
vnoremap <C-Down> :m'>+<CR>gv=gv
vnoremap <C-Up> :m-2<CR>gv=gv

" same thing with j/k keys
nnoremap <C-j> :m+<CR>==
nnoremap <C-k> :m-2<CR>==
inoremap <C-j> <Esc>:m+<CR>==gi
inoremap <C-k> <Esc>:m-2<CR>==gi
vnoremap <C-j> :m'>+<CR>gv=gv
vnoremap <C-k> :m-2<CR>gv=gv
vnoremap <C-d> y<Esc>o<Esc>p

" hitting jk while in insert mode will change back to normal
inoremap jk <Esc>

" highlight all matching search results, dismiss with RETURN
set hlsearch
function! MapCR()
  nnoremap <cr> :nohlsearch<cr>
endfunction
call MapCR()
